<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media only screen and (max-width: 600px) {
            table {
                width: 100% !important;
            }
        }
    </style>
</head>

<body>
    <div style="margin: 0 auto; padding: 0; font-family: 'Arial', sans-serif;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%"
            width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="620"
                            style="padding-left:30px;padding-right:30px;font-size:14px;color:#212121;line-height:22px">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding-top:40px;padding-bottom:10px">
                                        <img src="https://blob.axiomaibd.com/files/axiomai-main-logo.png"
                                            alt="emailArrival" width="560" height="168" border="0"
                                            style="width:140px;height:auto;border:0;line-height:100%;outline:none;text-decoration:none;display:block">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding-bottom:34px;font-size:18px">
                                        <b>${SUBSCRIPTION_NAME} Subscription Has Ended</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Hi,</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top:6px;padding-bottom:30px">
                                        Your subscription for <strong>${SITE_TITLE}</strong> has recently expired.
                                        As a valued user, we understand the importance of seamless access to our
                                        features, and we would like to ensure that you have the opportunity to renew
                                        your subscription promptly.<br><br>
                                        Here are the details of your expired subscription:
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="0" bgcolor="#f8f9fa" cellpadding="0" cellspacing="0" width="560"
                                            style="border-radius:10px">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top:24px;padding-left:24px">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="display: flex; align-items: center;">
                                                                        <img src="https://blob.axiomaibd.com/files/user.png"
                                                                            alt="avatar" width="44" height="44"
                                                                            border="0"
                                                                            style="border:0;outline:none;text-decoration:none;display:block; margin-right: 10px; padding: 0;">
                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0"
                                                                            style="padding-left:10px; margin: 0; padding: 0;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-size:16px">
                                                                                        <b>${USER_NAME}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="color:#909090">
                                                                                        ${USER_EMAIL}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="padding-left:24px;padding-top:27px;padding-bottom:24px;color:#909090">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            style="color:#909090;line-height:26px">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="141">Subscription Plan:</td>
                                                                    <td>${SUBSCRIPTION_NAME}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="141">Expiration Date:</td>
                                                                    <td>${SUBSCRIPTION_END_DATE}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:30px">
                                        If you have any questions or encounter any issues during the renewal process,
                                        please don't hesitate to reach out to our support team at <a target="_blank"
                                            href="mailto:support@axiomaibd.com"
                                            style="color:#4acbd6">support@axiomaibd.com</a><br><br>
                                        Thank you for being a part of the ${SITE_TITLE} community. We look forward to
                                        continuing to serve you and provide you with a seamless experience.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:30px">Thank you,</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:60px">${SITE_TITLE}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:67px"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>