<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset your password</title>
</head>

<body>
  <div style="margin:0;padding:0;word-spacing:normal;background-color:#fff">
    <div style="background-color:#fff">
      <div style="margin:0 auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%"
          width="100%">
          <tbody>
            <tr>
              <td
                style="border-collapse:collapse;border:1px solid #ededed;direction:ltr;font-size:0;padding:20px 0;text-align:center"
                align="center">
                <div style="margin:0 auto;max-width:598px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;direction:ltr;font-size:0;padding:0;text-align:center"
                          align="center">
                          <div class="column-per-100"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0"
                              style="border-collapse:collapse;vertical-align:top" width="100%" valign="top">
                              <tbody>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                      style="border-collapse:collapse;border-spacing:0">
                                      <tbody>
                                        <tr>
                                          <td style="border-collapse:collapse"><img
                                            height="auto"
                                            src="https://blob.axiomaibd.com/files/axiomai-main-logo.png"
                                            style="line-height:50%;border:0;display:block;outline:0;text-decoration:none;height:auto;font-size:14px"
                                            width="150"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="background:#fff;background-color:#fff;margin:0 auto;max-width:598px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;background:#fff;background-color:#fff;width:100%" width="100%"
                    bgcolor="#ffffff">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;direction:ltr;font-size:0;padding:20px 0;text-align:center"
                          align="center">
                          <div class="column-per-100"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0"
                              style="border-collapse:collapse;vertical-align:top" width="100%" valign="top">
                              <tbody>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <div
                                      style="font-family:Inter,Arial;font-size:30px;font-weight:600;line-height:20px;text-align:left;color:#212121">
                                      <b>Reset password</b>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border-collapse:collapse;font-size:0;word-break:break-word">
                                    <div style="height:16px;line-height:16px"> </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <div
                                      style="font-family:Inter,Arial;font-size:14px;line-height:20px;text-align:left;color:#212121">
                                      Dear user,</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <div
                                      style="font-family:Inter,Arial;font-size:14px;line-height:21px;text-align:left;color:#212121">
                                      We’ve received your request to reset your <a target="_blank">${SITE_TITLE}</a>
                                      password.
                                      Please click the link below to
                                      complete the reset.</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border-collapse:collapse;font-size:0;word-break:break-word">
                                    <div style="height:16px;line-height:16px"> </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                      style="border-collapse:separate;line-height:100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" bgcolor="#0083A0"
                                            style="border-collapse:collapse;border:1px solid #0083A0;border-radius:5px;background:#0083A0"
                                            valign="middle"><a href="${VERIFY_URL}"
                                              style="display:inline-block;background:#0083A0;color:#fff;font-family:Inter,Arial;font-size:14px;font-weight:400;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:8px 12px;border-radius:5px"
                                              target="_blank">Reset
                                              My Password</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="border-collapse:collapse;font-size:0;word-break:break-word">
                                    <div style="height:16px;line-height:16px"> </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <div
                                      style="font-family:Inter,Arial;font-size:14px;line-height:20px;text-align:left;color:#212121">
                                      This link will expire in 12 hours. If you did not make this request, please disregard this email.</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="margin:0 auto;max-width:598px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-collapse:collapse;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;direction:ltr;font-size:0;padding:0;text-align:center"
                          align="center">
                          <div class="column-per-100"
                            style="font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                            <table border="0" cellpadding="0" cellspacing="0"
                              style="border-collapse:collapse;vertical-align:top" width="100%" valign="top">
                              <tbody>
                                <tr>
                                  <td align="center"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <p
                                      style="display:block;border-top:solid 1px #ededed;font-size:1px;margin:0 auto;width:100%">
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left"
                                    style="border-collapse:collapse;font-size:0;padding:10px 25px;word-break:break-word">
                                    <div
                                      style="font-family:Inter,Arial;font-size:12px;line-height:20px;text-align:left;color:#a6a6a6">
                                      This email is automatically sent by the server, direct reply is not valid.<br>
                                      © 2023 AxiomAI. All Rights Reserved<br><a
                                        href="https://blob.axiomaibd.com/files/bKash.png" target="_blank"
                                        style="color:#E70791;">With your small gift, AxiomAI will be able to keep
                                        running.</a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>