<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Please activate your account</title>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; background-color: #FFF;">
  <table role="presentation"
    style="width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: #FFF;">
    <tbody>
      <tr>
        <td align="center" style="padding: 1rem 2rem; vertical-align: top; width: 100%;">
          <table role="presentation"
            style="max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;">
            <tbody>
              <tr>
                <td style="padding: 40px 0px 0px;">
                  <div style="text-align: left;">
                    <div style="padding-bottom: 20px;"><img
                        src="https://raw.githubusercontent.com/Miraz4300/AxiomAI/master/public/axiomai-192x192.png"
                        alt="AxiomAI" style="width: 56px;"></div>
                  </div>
                  <div style="padding: 20px; background-color:#FFF;">
                    <div style="color: rgb(0, 0, 0); text-align: left;">
                      <h1 style="margin: 1rem 0">Verify your email address
                      </h1>
                      <p style="padding-bottom: 16px">Account application email: <a target="_blank">${TO_MAIL}</a> <br>
                        To continue setting up your <a target="_blank">${SITE_TITLE}</a>
                        account, please verify that this is your email address.
                      </p>
                      <p style="padding-bottom: 16px"><a href="${VERIFY_URL}" target="_blank"
                          style="padding: 12px 24px; border-radius: 4px; color: #FFF; background: #0083A0;display: inline-block;margin: 0.5rem 0; text-decoration: none">Verify
                          email address</a></p>
                      <p style="color:#6e6e80;padding-bottom: 16px ;font-size:13px;">
                        This link will expire in 24 hours. If you did not make this request, please disregard this
                        email. <br>
                        This email is automatically sent by the server, direct reply is not valid.</p>
                    </div>
                  </div>
                  <div style="padding-top: 20px; text-align: center;">
                    <p style="padding-bottom: 16px">
                      <a href="https://axiomai.s3.us-west-002.backblazeb2.com/bKash.png" target="_blank"
                        style="color:#E70791;">With your small gift, AxiomAI will be able to keep running.
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>